h1,
h2 {
  color: darkgreen;
}
h3 {
  color: rgb(0, 0, 255);
  text-decoration: underline;
}
* {
  color: hwb(16 31% 0%);
}
#soft {
  color: lime;
}
.greentext {
  color: indigo;
}
div > p {
  color: deeppink;
}
div a {
  color: yellow;
}
body {
  background-color: lavender;
}
