h1 {
  color: green;
  font-weight: normal;
  font-style: bold;
  font-stretch: extra-expanded;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1em;
  word-spacing: 0.5em;
  text-align: center;
  border: 2px solid black;
}
body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  background-color: rosybrown;
}
p {
  line-height: 2em;
  text-indent: 50px;
  text-align: justify;
  border: 2px solid black;
  width: 1000;
  height: 700px;
  padding: 100px;
  background-color: plum;
  border-style: solid;
  border-radius: 5em;
  border-color: cyan;
  border-width: 2px 1px 3px 4px;
  margin: 20px auto 20px auto;
}
p::first-letter {
  font-size: 2em;
}
a:link {
  color: darkblue;
}

a:visited {
  color: chartreuse;
}

a:hover {
  color: darkmagenta;
}
a:active {
  color: brown;
}
/* p[id="para1"] {
  color: blue;
} */
/* when we use many class name in style */
p[class~="class1"] {
  color: blue;
}
/* p[class="class1"] {
  color: blue;
} */
